---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Reservation">

    <section class="section">
        <div class="container">
        <h1 class="title">Reservation</h1>
        <p>Reservation form goes here</p>
        </div>
    </section>

</Layout>

