---


---


<div class="h-fit content-center mx-auto">
    <!-- Title -->
    <div class="">
        <h1 class="text-xl md:text-4xl font-serif text-dorado px-2"> Nuestra Historia</h1>
    </div>
    <div class="flex flex-col mx-auto gap-10 md:flex-row">
        
        <div class="text-sm md:text-lg  md:w-1/2 text-gray-300">
            <p class="p-2">
                Lucky Food nació de la pasión por la gastronomía internacional y el deseo de ofrecer una experiencia culinaria superior. 
                Nuestro equipo de chefs expertos combina técnicas tradicionales con un toque moderno, creando platos que deleitan todos los sentidos.
            </p>
            <p class="p-2">
                En Lucky Food, cada detalle está pensado para ofrecerte una experiencia inolvidable. Nuestro ambiente acogedor y elegante, 
                junto con nuestro amable servicio, te harán sentir como en casa.
            </p>
            <p class="p-2">
                Nos comprometemos a utilizar solo los mejores ingredientes, garantizando frescura y calidad en cada plato. Nuestra pasión por la gastronomía 
                se refleja en cada creación culinaria, ofreciendo sabores auténticos y presentaciones impecables.
            </p>
        </div> 
        <div class="md:w-1/2">
            <img src="/img/us.png" alt="" class="w-full h-full object-cover">
        </div>
    </div>
    
    
</div>