---
import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

---


<div class="h-fit content-center mx-auto">
    <!-- Title -->
    <div class="">
        <h1 class="text-xl md:text-4xl font-serif text-dorado px-2"> {i18n.About.title} </h1>
    </div>
    <div class="flex flex-col mx-auto gap-10 md:flex-row">
        
        <div class="text-sm md:text-lg  md:w-1/2 text-gray-300">
            <p class="p-2">
                {i18n.About.text1}
            </p>
            <p class="p-2">
                {i18n.About.text2}
            </p>
            <p class="p-2">
                {i18n.About.text3}
            </p>
        </div> 
        <div class="md:w-1/2">
            <img src="/img/us.webp" alt="" class="w-full h-full object-cover">
        </div>
    </div>
    
    
</div>