---


---


<div class="h-fit content-center mx-auto">
    <!-- Title -->
    <div class="my-6 text-center">
        <h1 class=" md:text-4xl font-serif text-dorado"> "Our Story"</h1>
        <p class="text-lg text-gray-400"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cumque illum sunt neque facilis </p>
    </div>
    <div class="flex flex-col mx-auto gap-10 md:flex-row">
        <div class="md:w-1/2">
            <img src="/img/us.png" alt="" class="w-full h-full object-cover">
        </div>
        <div class=" text-sm md:text-lg my-auto md:w-1/2">
            <p class="p-4">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi eligendi fuga non delectus voluptatibus in nesciunt corporis minus deserunt culpa, 
                dolorem tempore, eveniet ipsa qui reprehenderit? Non molestiae optio facilis.
            </p>
            <p class="p-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, perferendis unde corporis autem hic, porro ex, magnam quod distinctio deleniti cum 
                deserunt illo beatae eos. Beatae aliquam sequi ratione quam!
            </p>
        </div> 
    </div>
    
    
</div>