---
import Button from "./Button.astro"
---

<div class="h-full w-full bg-gray-900 bg-opacity-40 py-24 content-center text-center">
    <section class="w-full md:w-1/2 mx-auto flex flex-col gap-y-2">

        <h1 class="text-sm md:text-xl text-gray-300 font-mono">"La mejor comida en Lucky Food"</h1>

        <h1 class="text-2xl md:text-6xl font-serif gradient-text text-wrap">Descubre la Exquisitez de la Cocina Internacional</h1>
        <!-- Slogan -->
        <!-- <p class="text-xl text-gray-300">Bienvenido a Lucky Food, donde cada plato es una aventura culinaria.</p> -->
        <p class="text-sm md:text-xl text-gray-300 w-4/6 m-auto text-wrap font-sans">En Lucky Food, te invitamos a deleitarte con una amplia variedad de platos preparados con ingredientes frescos y de la más alta calidad. Tenemos algo para satisfacer todos los paladares. </p>
        <!-- <h2 class="text-2xl">The best food of Costa Rica</h2> -->

        <div class="pt-10">

            <a href="#menu">
                <Button class="justify-center">Ver Menu ==</Button>
            </a>
            
        </div>

    </section>
</div>

