---
import Button from "./Button.astro"
---

<div class="h-full w-full bg-gray-900 bg-opacity-30 py-24 content-center text-center">
    <div>
        Best food of Costa Rica
    </div>
    <div class="my-3 ">
        <h1 class=" md:text-6xl font-bold">Lucky Food</h1>
        <!-- Slogan -->
        <h2 class="text-2xl">The best food of Costa Rica</h2>


    </div>
    
    <div class="pt-10">
        <!-- <a href="#menu" class="bg-[#F0AD21] hover:bg-[#] text-white py-1 px-2 rounded">
           == Menu ==
        </a> -->
        <Button class="justify-center"> Menu ==</Button>
    </div>
</div>