---

import Card from '../components/Card.astro';

---

<div class="h-fit w-fit content-center text-center mx-auto">
    <!-- Title -->
    <div class="my-3 ">
        <h1 class=" md:text-4xl font-serif text-dorado"> "House Specials"</h1>
        <h2 class="text-2xl">The best food of Costa Rica</h2>
    </div>
    <div class="">
        <Card />
    </div>
    
    
</div>